*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box; }

h1 {
  font-family: 'Pragati Narrow', sans-serif;
  font-weight: 400;
  font-size: 3rem;
  color: #2b2b2b; }

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: .5px; }

p {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #2b2b2b; }

h2 {
  font-size: 2.8rem; }
  @media only screen and (min-width: 48.1em) {
    h2 {
      font-size: 4rem;
      line-height: 4.8rem; } }
  @media only screen and (min-width: 69em) {
    h2 {
      font-size: 3.5rem;
      line-height: 4.3rem; } }

h3 {
  font-size: 2.3rem;
  line-height: 1.3; }
  @media only screen and (min-width: 48.1em) {
    h3 {
      font-size: 2.8rem; } }
  @media only screen and (min-width: 69em) {
    h3 {
      font-size: 2.5rem; } }

h4 {
  font-size: 1.9rem;
  line-height: 1.3; }

h5 {
  font-size: 1.3rem;
  line-height: 1.3; }

h6 {
  font-size: 1.1rem;
  line-height: 1.6rem; }

p {
  font-size: 1.8rem;
  line-height: 2.5rem;
  line-height: 2.5rem; }
  @media only screen and (min-width: 48.1em) {
    p {
      font-size: 2rem; } }
  @media only screen and (min-width: 69em) {
    p {
      font-size: 1.9rem; } }

a:link {
  color: #2b2b2b;
  text-decoration: none; }

a:visited {
  color: #2b2b2b; }

a:hover {
  color: #834bf6; }

a:active {
  color: #834bf6; }

ul,
ol {
  list-style: none; }

body {
  overflow-x: hidden; }

.grid {
  margin: 0px auto;
  display: grid;
  grid-template-columns: [full-start] 1.5rem [content-start] 1fr [content-end] 1.5rem [full-end]; }
  @media only screen and (min-width: 48.1em) {
    .grid {
      grid-template-columns: [full-start] 1.5rem [content-start] 1fr [col2] 1fr [content-end] 1.5rem [full-end]; } }
  @media only screen and (min-width: 69em) {
    .grid {
      grid-template-columns: [full-start] 1fr [content-start] 21.5rem [col2] 21.5rem [col3] 21.5rem [col4] 21.5rem [col5] 21.5rem [content-end] 1fr [full-end]; } }

.navbar-grid-item {
  grid-column: content-start / content-end; }

.article-grid-item {
  grid-column: content-start / content-end;
  display: grid;
  grid-template-columns: [content-start] 1fr [content-end]; }
  @media only screen and (min-width: 48.1em) {
    .article-grid-item {
      grid-template-columns: [content-start] 1fr [col2] 1fr [content-end]; } }
  @media only screen and (min-width: 69em) {
    .article-grid-item {
      grid-template-columns: [content-start] 21.5rem [col2] 21.5rem [col3] 21.5rem [col4] 21.5rem [col5] 21.5rem [content-end]; } }

.full-width-container {
  position: relative;
  margin-top: 5rem;
  margin-bottom: 10rem;
  background-color: #fdf2da;
  grid-column: content-start / content-end;
  display: grid;
  grid-template-columns: 1fr; }
  @media only screen and (min-width: 48.1em) {
    .full-width-container {
      margin-left: 1.5rem;
      margin-right: 1.5rem; } }
  @media only screen and (min-width: 69em) {
    .full-width-container {
      grid-template-columns: 1fr 1fr; } }

.full-width-container:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100vw;
  right: -100vw;
  background: inherit; }
  @media only screen and (min-width: 48.1em) {
    .full-width-container:before {
      display: none; } }

.navbar {
  height: 9rem;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: #ffffff;
  z-index: 1000; }

.logo {
  margin-right: auto; }

.logo a:hover {
  color: #2b2b2b; }

.search-icon {
  margin-right: 1.5rem;
  font-size: 2.8rem;
  cursor: pointer; }

.burger-icon {
  z-index: 1030;
  display: block;
  cursor: pointer;
  padding-bottom: 0.6rem; }

.burger-icon div {
  height: 0.2rem;
  width: 2.7rem;
  margin-top: 0.6rem;
  background-color: #2b2b2b;
  transition: all 0.3s ease; }

.article {
  grid-column: span 1;
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
  margin-bottom: 2rem; }

.article img {
  width: 100%; }

.article-header {
  margin-top: 2rem; }

.article-subhead {
  margin-top: 2rem;
  color: #a6a6a6; }

@media only screen and (min-width: 48.1em) {
  .article--selected {
    grid-column: span 2; } }

@media only screen and (min-width: 48.1em) {
  .article--selected-fixed {
    grid-column: span 2; } }

@media only screen and (min-width: 69em) {
  .article--selected-fixed {
    grid-column: span 3;
    position: sticky;
    top: 0px; } }

@media only screen and (min-width: 69em) {
  .article-selected-right {
    grid-column: col4 / span 2; } }

@media only screen and (min-width: 69em) {
  .article-right {
    grid-column: col4; } }

.article-mt-fix {
  margin-top: -3.5rem; }

.tag-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  z-index: 10; }

.tag {
  max-height: 2.5rem;
  color: #834bf6;
  background-color: #f9f5fe;
  padding-top: .5rem;
  padding-bottom: .35rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: .2rem;
  margin-bottom: .2rem; }

.tag:hover {
  cursor: pointer;
  background-color: #e4defc; }

.tag-icon {
  font-size: 1.2rem;
  padding-top: .8rem;
  max-height: 2.5rem; }

.newsletter {
  grid-column: span 1;
  width: 100%;
  padding-left: 1.5rem;
  padding-top: 5rem;
  padding-right: 1.5rem;
  padding-bottom: 5rem; }
  @media only screen and (min-width: 48.1em) {
    .newsletter {
      padding-left: 4rem;
      padding-right: 4rem; } }
  @media only screen and (min-width: 69em) {
    .newsletter {
      padding-right: 8rem; } }

.newsletter-header {
  margin-bottom: 3rem;
  color: #2b2b2b; }

.newsletter-content {
  margin-bottom: 3.5rem; }

.newsletter-img-container {
  overflow: hidden; }

.newsletter-img {
  display: none;
  grid-column: 2 / span 1;
  width: 100%;
  transform: scale(1.1); }
  @media only screen and (min-width: 69em) {
    .newsletter-img {
      display: block; } }

.newsletter-form {
  font-family: "Roboto";
  margin-bottom: 2rem; }

.newsletter-form input {
  display: block;
  height: 5rem;
  width: 100%;
  border: none; }

.newsletter-form input:focus {
  outline: none; }

.newsletter-form input[type=placeholder] {
  color: #676767; }

.newsletter-form input[type=text] {
  margin-bottom: 4rem;
  padding-left: 2rem;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: .5px;
  color: #2b2b2b;
  border-radius: .2rem; }

.checkbox-container {
  display: flex;
  align-items: center; }

.newsletter-form input[type="checkbox"] {
  -webkit-appearance: none;
  position: relative;
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 1.5rem;
  padding: 1rem;
  background-color: #ffffff;
  border: none;
  border-radius: .2rem;
  cursor: pointer; }

.newsletter-form input[type="checkbox"]:checked:after {
  content: '\2714';
  position: absolute;
  top: .15rem;
  left: .5rem;
  font-size: 1.4rem;
  color: #2b2b2b;
  z-index: 1000; }

.newsletter-form label {
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: .5px;
  color: #2b2b2b; }

.newsletter-form button {
  width: 25rem;
  margin-top: 3.5rem;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  font-size: 1.4rem;
  letter-spacing: .5px;
  text-align: left;
  color: #2b2b2b;
  background-color: #46b8f8;
  border: 0 none;
  -webkit-border-radius: 5px;
  border-radius: .2rem;
  cursor: pointer; }

.newsletter-form button:hover {
  background-color: #0998e9; }

.newsletter-form button:focus {
  outline: none; }

.newsletter-form button:visited {
  background-color: #0998e9; }

.u-text-center {
  text-align: center; }

.u-hidden {
  display: none; }
