@charset "UTF-8";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box; }

::selection {
  background: #834bf6;
  color: #ffffff; }

h1 {
  font-family: 'Pragati Narrow', sans-serif;
  font-weight: 400;
  font-size: 3.5rem; }

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: .5px; }

p {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #2b2b2b; }

h2 {
  font-size: 2.8rem; }
  @media only screen and (min-width: 48.1em) {
    h2 {
      font-size: 4rem;
      line-height: 4.8rem; } }
  @media only screen and (min-width: 69em) {
    h2 {
      font-size: 3.5rem;
      line-height: 4.3rem; } }

h3 {
  font-size: 2.3rem;
  line-height: 1.3; }
  @media only screen and (min-width: 48.1em) {
    h3 {
      font-size: 2.8rem; } }
  @media only screen and (min-width: 69em) {
    h3 {
      font-size: 2.5rem; } }

h4 {
  font-size: 1.9rem;
  line-height: 1.3; }

h5 {
  font-size: 1.3rem;
  line-height: 1.3; }

h6 {
  font-size: 1.2rem;
  line-height: 1.6rem; }

p {
  font-size: 1.8rem;
  line-height: 2.5rem;
  line-height: 2.5rem; }
  @media only screen and (min-width: 48.1em) {
    p {
      font-size: 2rem; } }
  @media only screen and (min-width: 69em) {
    p {
      font-size: 1.9rem; } }

a:link {
  color: #2b2b2b;
  text-decoration: none; }

a:visited {
  color: #2b2b2b; }

a:hover {
  color: #834bf6; }

a:active {
  color: #834bf6; }

ul,
ol {
  list-style: none; }

body {
  overflow-x: hidden; }

.grid {
  margin: 0px auto;
  display: grid;
  grid-template-columns: [full-start] 1.5rem [content-start] 1fr [content-end] 1.5rem [full-end]; }
  @media only screen and (min-width: 48.1em) {
    .grid {
      grid-template-columns: [full-start] 3rem [content-start] 1fr [col2] 1fr [content-end] 3rem [full-end]; } }
  @media only screen and (min-width: 69em) {
    .grid {
      grid-template-columns: [full-start] 1fr [content-start] 21.5rem [col2] 21.5rem [col3] 21.5rem [col4] 21.5rem [col5] 21.5rem [content-end] 1fr [full-end]; } }

.navbar-grid-item {
  grid-column: content-start / content-end; }

.categories-menu {
  display: grid;
  grid-template-columns: 1fr 104rem 1fr; }

.burger-menu-grid {
  display: grid;
  grid-template-columns: 3rem 1fr 3rem;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 900;
  top: 0rem;
  left: 0;
  overflow-x: hidden;
  padding-top: 11rem;
  transition: 0.5s;
  background-color: #834bf6; }
  @media only screen and (min-width: 48.1em) {
    .burger-menu-grid {
      grid-template-columns: [full-start] 3rem [content-start] 1fr [col2] 1fr [content-end] 3rem [full-end]; } }
  @media only screen and (min-width: 69em) {
    .burger-menu-grid {
      grid-template-columns: [full-start] 1fr [content-start] 107.5rem [content-end] 1fr [full-end]; } }

.article-grid-item {
  grid-column: content-start / content-end;
  display: grid;
  grid-template-columns: [content-start] 1fr [content-end]; }
  @media only screen and (min-width: 48.1em) {
    .article-grid-item {
      grid-template-columns: [content-start] 1fr [col2] 1fr [content-end]; } }
  @media only screen and (min-width: 69em) {
    .article-grid-item {
      grid-template-columns: [content-start] 21.5rem [col2] 21.5rem [col3] 21.5rem [col4] 21.5rem [col5] 21.5rem [content-end]; } }

.full-width-container {
  position: relative;
  margin-top: 5rem;
  background-color: #fdf2da;
  grid-column: content-start / content-end;
  display: grid;
  grid-template-columns: 1fr; }
  @media only screen and (min-width: 48.1em) {
    .full-width-container {
      margin-left: 1.5rem;
      margin-right: 1.5rem; } }
  @media only screen and (min-width: 69em) {
    .full-width-container {
      grid-template-columns: 1fr 1fr; } }

.full-width-container:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100vw;
  right: -100vw;
  background: inherit; }
  @media only screen and (min-width: 48.1em) {
    .full-width-container:before {
      display: none; } }

.banner-full-width-container {
  display: none;
  background-color: #fbfafa;
  grid-column: full-start / full-end; }
  @media only screen and (min-width: 48.1em) {
    .banner-full-width-container {
      display: grid;
      grid-template-columns: [full-start] 2rem [content-start] 1fr [content-end] 2rem [full-end]; } }
  @media only screen and (min-width: 69em) {
    .banner-full-width-container {
      grid-template-columns: [full-start] 1fr [content-start] 98rem [content-end] 1fr [full-end]; } }

.banner-full-width-container:before,
.footer-grid:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100vw;
  right: -100vw;
  background: inherit; }

.footer-grid {
  position: relative;
  padding-top: 8rem;
  padding-bottom: 8rem;
  border-top: 1px solid #a6a6a6;
  background-color: #2b2b2b;
  grid-column: content-start / content-end;
  display: grid;
  grid-template-columns: [full-start] 3rem [content-start] 1fr [content-end] 3rem [full-end]; }
  @media only screen and (min-width: 48.1em) {
    .footer-grid {
      grid-template-columns: [full-start] 5rem [content-start] 1fr [col2] 1fr [col3] 1fr [col4] 1fr [content-end] 5rem [full-end];
      margin-top: 6rem;
      border-top: none; } }
  @media only screen and (min-width: 69em) {
    .footer-grid {
      grid-template-columns: [full-start] 1fr [content-start] 21.5rem [col2] 21.5rem [col3] 21.5rem [col4] 21.5rem [col5] 21.5rem [content-end] 1fr [full-end]; } }

nav {
  position: relative;
  z-index: 1000;
  height: 9rem;
  grid-column: content-start / content-end;
  margin-bottom: 300px;
  border-bottom: 1px solid #ffffff;
  transition: background-color .3s ease; }

.navbar {
  z-index: 1030;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

nav.nav-border {
  border-bottom: 1px solid #d5d5d5; }

nav.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff; }

.nav-color-toggle .navbar {
  background-color: #834bf6;
  padding-bottom: 60px;
  padding-top: 15px; }

.nav-color-toggle .logo a,
.nav-color-toggle .search-icon,
.nav-color-toggle .slogan a,
.nav-color-toggle .navbar-categories,
.nav-color-toggle .input-search[type=text] {
  color: #ffffff; }

.nav-color-toggle .input-search::placeholder {
  color: #d5d5d5; }

.nav-color-toggle .search-container {
  border-bottom: 1px solid #676767; }

.logo {
  margin-right: auto;
  user-select: none; }
  @media only screen and (min-width: 48.1em) {
    .logo {
      margin-right: 2rem; } }

.logo a:hover {
  color: #2b2b2b; }

.slogan {
  display: none;
  margin-top: .25rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  letter-spacing: .1rem; }
  .slogan:hover a {
    color: #2b2b2b; }
  @media only screen and (min-width: 48.1em) {
    .slogan {
      display: block;
      margin-right: auto; } }
  @media only screen and (min-width: 69em) {
    .slogan {
      margin-right: 5rem; } }

.search-container {
  display: none;
  margin-right: auto;
  border-bottom: 1px solid #d5d5d5; }
  @media only screen and (min-width: 69em) {
    .search-container {
      display: flex;
      align-items: center; } }

.input-search {
  width: 34rem;
  margin-top: .8rem;
  padding-bottom: 1.2rem;
  text-align: center;
  letter-spacing: .1rem;
  outline: none;
  border: none;
  background-color: transparent; }

.input-search::placeholder {
  color: #a6a6a6;
  opacity: 1;
  /* Firefox */ }

.input-search[type=text] {
  color: #2b2b2b; }

.input-search:focus::placeholder {
  color: transparent; }

.search-icon {
  margin-right: 1.5rem;
  font-size: 2.8rem;
  cursor: pointer; }
  @media only screen and (min-width: 69em) {
    .search-icon {
      display: none; } }

.search-icon--input {
  display: none;
  margin-right: -.3rem;
  transform-origin: center;
  transition: transform .3s ease-out; }
  .search-icon--input:hover {
    transform: rotate(8deg) translate(4px, -1px);
    transform-origin: center;
    transition: transform .3s ease-out; }
  @media only screen and (min-width: 69em) {
    .search-icon--input {
      display: block; } }

.navbar-categories {
  display: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  letter-spacing: .1rem;
  color: #2b2b2b;
  cursor: pointer;
  user-select: none; }
  @media only screen and (min-width: 69em) {
    .navbar-categories {
      display: flex;
      align-items: center;
      margin-right: 4rem; } }

.navbar-categories-icon {
  font-size: 1.5rem;
  margin-left: .8rem; }

.is-rotated {
  transform: rotate(180deg); }

.categories-menu {
  z-index: 500;
  position: absolute;
  top: 9rem;
  left: 0;
  right: 0;
  background-color: #ffffff;
  border-bottom: 1px solid #f2f2f2; }

.categories-header {
  color: #676767;
  padding-bottom: 1.5rem; }

.categories-container {
  padding-top: 6rem;
  grid-column: 2 / span 1; }

.categories-row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 6rem; }

.categories-col1-5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end; }

.categories-col1-5 h6 {
  margin-top: .5rem; }

.categories-bg-freeze {
  z-index: 500;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #2b2b2b;
  opacity: .15; }

.no-scroll {
  overflow: hidden; }

.burger-icon {
  z-index: 1030;
  display: block;
  padding-bottom: 0.6rem;
  cursor: pointer; }

.burger-icon div {
  height: 0.2rem;
  width: 2.7rem;
  margin-top: 0.6rem;
  background-color: #2b2b2b;
  transition: transform 0.15s ease; }

.burger-animate .line1 {
  background-color: #ffffff;
  transform: rotate(-45deg) translate(-0.5rem, 0.6rem); }

.burger-animate .line2 {
  opacity: 0; }

.burger-animate .line3 {
  background-color: #ffffff;
  transform: rotate(45deg) translate(-0.5rem, -0.6rem); }

.burger-menu {
  grid-column: 2 / span 1;
  padding-top: 2rem;
  padding-bottom: 3rem; }
  @media only screen and (min-width: 48.1em) {
    .burger-menu {
      grid-column: 2 / span 2; } }
  @media only screen and (min-width: 69em) {
    .burger-menu {
      grid-column: content-start / content-end;
      display: grid;
      grid-template-columns: [col1] 1fr [col2] 1fr [col3] 1fr [col4] 1fr [col5] 1fr; } }

.burger-menu a {
  color: #ffffff; }
  .burger-menu a:hover a {
    color: #ffffff; }

.burger-menu-item {
  border-bottom: 1px solid #a6a6a6; }
  @media only screen and (min-width: 48.1em) {
    .burger-menu-item {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-left: 1.5rem; } }
  @media only screen and (min-width: 69em) {
    .burger-menu-item {
      display: block;
      border-bottom: none; } }

@media only screen and (min-width: 69em) {
  .burger-menu-item:nth-of-type(5n) {
    grid-column: col5 / span 1;
    grid-row: 1 / span 1; } }

.burger-menu-item:last-of-type {
  border-bottom: none; }
  @media only screen and (min-width: 69em) {
    .burger-menu-item:last-of-type {
      grid-column: col5 / span 1;
      grid-row: 1 / span 1;
      margin-top: 200px; } }

.burger-menu-title {
  padding-top: 3rem;
  padding-bottom: 2rem;
  color: #d5d5d5;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 2.2;
  letter-spacing: .8px; }
  @media only screen and (min-width: 48.1em) {
    .burger-menu-title {
      grid-column: span 2; } }

.burger-menu-list {
  padding-top: 1.5rem;
  color: #ffffff;
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: 1px; }
  @media only screen and (min-width: 48.1em) {
    .burger-menu-list {
      font-size: 1.8rem; } }
  @media only screen and (min-width: 69em) {
    .burger-menu-list {
      font-size: 1.5rem; } }

.burger-menu-list:last-of-type {
  padding-bottom: 5rem; }

.burger-menu-item:last-of-type li:last-of-type {
  padding-bottom: 0rem;
  border-bottom: none; }

.burger-menu-icon-container {
  display: flex;
  align-items: center;
  padding-top: 1.5rem; }
  @media only screen and (min-width: 69em) {
    .burger-menu-icon-container {
      padding-top: .8rem; } }

.burger-menu-social-icon {
  padding-right: 2rem;
  font-size: 1.8rem; }
  @media only screen and (min-width: 69em) {
    .burger-menu-social-icon {
      padding-right: 1.5rem;
      font-size: 1.6rem; } }

@keyframes alertFeedback {
  0% {
    opacity: 0;
    transform: scale(0.9); }
  10% {
    opacity: 1;
    transform: scale(1); }
  90% {
    opacity: 1;
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: scale(0.9); } }

.footer-icon-container {
  grid-column: content-start / content-end;
  margin-left: -1.5rem;
  margin-bottom: 7rem; }
  @media only screen and (min-width: 48.1em) {
    .footer-icon-container {
      grid-column: 5 / span 1 !important;
      grid-row: 1 / span 1 !important;
      text-align: right;
      margin-right: -1.5rem;
      margin-bottom: 0; } }
  @media only screen and (min-width: 69em) {
    .footer-icon-container {
      grid-column: content-start / span 1 !important;
      text-align: left;
      margin-left: 0rem;
      margin-right: 0rem;
      margin-bottom: 1rem; } }

.footer-icon {
  color: #676767;
  font-size: 12rem;
  cursor: pointer;
  user-select: none;
  transition: color .5s ease; }
  .footer-icon:hover {
    color: #a6a6a6; }

.footer-grid ul {
  grid-column: content-start / content-end;
  font-weight: 300;
  letter-spacing: .1rem;
  border-bottom: 1px solid #676767; }
  @media only screen and (min-width: 48.1em) {
    .footer-grid ul {
      grid-column: content-start / span 1;
      border-bottom: none; } }

.footer-grid ul:last-of-type {
  border-bottom: none;
  margin-bottom: 5rem; }

.footer-grid li {
  padding-top: .6rem;
  color: #ffffff;
  font-size: 1.4rem;
  line-height: 1.5; }
  @media only screen and (min-width: 69em) {
    .footer-grid li {
      font-size: 1.6rem; } }

.footer-grid a {
  color: #ffffff; }
  .footer-grid a:hover a {
    color: #ffffff; }

.footer-grid li:first-of-type {
  padding-top: 2.5rem;
  padding-bottom: 1.5rem;
  font-size: 1.4rem;
  color: #676767; }

.footer-grid li:last-of-type {
  padding-bottom: 5rem; }

@media only screen and (min-width: 48.1em) {
  .footer-list-address {
    grid-column: content-start / span 3 !important; } }

@media only screen and (min-width: 69em) {
  .footer-list-address {
    grid-column: content-start / span 1 !important;
    margin-left: 1.5rem; } }

@media only screen and (min-width: 48.1em) {
  .footer-list-content {
    grid-column: content-start / span 1 !important; } }

@media only screen and (min-width: 69em) {
  .footer-list-content {
    grid-column: 3 / span 1 !important; } }

@media only screen and (min-width: 48.1em) {
  .footer-list-social {
    grid-column: 3 / span 1 !important; } }

@media only screen and (min-width: 69em) {
  .footer-list-social {
    grid-column: 4 / span 1 !important; } }

@media only screen and (min-width: 48.1em) {
  .footer-list-links {
    grid-column: 4 / span 1 !important;
    padding-right: 2.5rem; } }

@media only screen and (min-width: 69em) {
  .footer-list-links {
    grid-column: 5 / span 1 !important; } }

@media only screen and (min-width: 48.1em) {
  .footer-list-network {
    grid-column: 5 / span 1 !important; } }

@media only screen and (min-width: 69em) {
  .footer-list-network {
    grid-column: 6 / span 1 !important; } }

.footer-copyright {
  grid-column: content-start / content-end;
  width: 400px;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1.2;
  letter-spacing: .1rem;
  font-family: "Roboto", sans-serif;
  color: #676767; }
  @media only screen and (min-width: 48.1em) {
    .footer-copyright {
      grid-column: content-start / content-end; } }
  @media only screen and (min-width: 69em) {
    .footer-copyright {
      margin-left: 1.5rem; } }

.article {
  grid-column: span 1;
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
  margin-bottom: 2rem; }

.article img {
  width: 100%;
  user-select: none; }

.article-header {
  margin-top: 2rem; }

.article-subhead {
  margin-top: 2rem;
  color: #a6a6a6; }

@media only screen and (min-width: 48.1em) {
  .article--selected {
    grid-column: span 2; } }

@media only screen and (min-width: 48.1em) {
  .article--selected-fixed {
    grid-column: span 2; } }

@media only screen and (min-width: 69em) {
  .article--selected-fixed {
    grid-column: span 3;
    position: sticky;
    top: 0px; } }

@media only screen and (min-width: 69em) {
  .article-selected-right {
    grid-column: col4 / span 2; } }

@media only screen and (min-width: 69em) {
  .article-right {
    grid-column: col4; } }

.article-mt-fix {
  margin-top: -3.5rem; }

.tag-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  z-index: 10; }

.tag {
  max-height: 2.5rem;
  color: #834bf6;
  background-color: #f9f5fe;
  padding-top: .5rem;
  padding-bottom: .35rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: .2rem;
  margin-bottom: .2rem;
  user-select: none; }

.tag:hover {
  cursor: pointer;
  background-color: #e4defc; }

.tag-icon {
  font-size: 1.2rem;
  padding-top: .8rem;
  max-height: 2.5rem; }

.newsletter {
  display: relative;
  grid-column: span 1;
  width: 100%;
  padding-left: 1.5rem;
  padding-top: 5rem;
  padding-right: 1.5rem;
  padding-bottom: 5rem;
  color: #2b2b2b; }
  @media only screen and (min-width: 48.1em) {
    .newsletter {
      padding-left: 4rem;
      padding-right: 4rem; } }
  @media only screen and (min-width: 69em) {
    .newsletter {
      padding-right: 8rem; } }

.newsletter-header {
  margin-bottom: 3rem; }

.newsletter-content {
  margin-bottom: 3.5rem; }

.newsletter-img-container {
  overflow: hidden; }

.newsletter-img {
  display: none;
  grid-column: 2 / span 1;
  width: 100%;
  transform: scale(1.35); }
  @media only screen and (min-width: 69em) {
    .newsletter-img {
      display: block; } }

.newsletter-img--fit {
  width: 100%;
  max-height: 60rem;
  object-fit: cover;
  transform: scale(1.26); }

.newsletter-form {
  position: relative;
  font-family: "Roboto";
  margin-bottom: 2rem; }

.newsletter-form input {
  display: block;
  height: 5rem;
  width: 100%;
  border: none; }

.newsletter-form input:focus {
  outline: none; }

.newsletter-form input[type=placeholder] {
  color: #676767; }

.newsletter-form input[type=text] {
  margin-bottom: 4rem;
  padding-left: 2rem;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: .5px;
  color: #2b2b2b;
  border-radius: .2rem; }

.checkbox-container {
  display: flex;
  align-items: center;
  margin-top: 1.5rem; }

.newsletter-form input[type="checkbox"] {
  -webkit-appearance: none;
  position: relative;
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 1.5rem;
  padding: 1rem;
  background-color: #ffffff;
  border: none;
  border-radius: .2rem;
  cursor: pointer; }

.newsletter-form input[type="checkbox"]:checked:after {
  content: '\2714';
  position: absolute;
  top: .15rem;
  left: .5rem;
  font-size: 1.4rem;
  color: #2b2b2b;
  z-index: 1000; }

.newsletter-form label {
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: .5px;
  color: #2b2b2b; }

.submit-btn {
  width: 25rem;
  margin-top: 3.5rem;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  font-size: 1.4rem;
  letter-spacing: .5px;
  text-align: left;
  color: #2b2b2b;
  background-color: #46b8f8;
  border: 0 none;
  -webkit-border-radius: 5px;
  border-radius: .2rem;
  cursor: pointer; }

.submit-btn:hover {
  background-color: #0998e9; }

.submit-btn:focus {
  outline: none; }

.submit-btn:visited {
  background-color: #0998e9; }

.submit-btn--02 {
  background-color: #fbd64a; }
  .submit-btn--02:hover {
    background-color: #f3c105; }

.success-feedback {
  margin-top: 3rem;
  color: #46b8f8; }

.alert-feedback-container {
  position: absolute;
  top: 6rem;
  left: 2rem;
  max-height: 5rem;
  display: inline-flex;
  align-items: flex-end;
  z-index: 500;
  animation: alertFeedback 3s ease; }

.alert-feedback {
  padding-left: 1rem;
  padding-top: .5rem;
  padding-right: 1.5rem;
  padding-bottom: .5rem;
  background: #ffffff;
  border: 1px solid #a6a6a6;
  border-radius: .4em;
  box-shadow: 5px 5px 5px 0px rgba(43, 43, 43, 0.2); }
  .alert-feedback:before {
    content: '';
    position: absolute;
    width: 0;
    z-index: 0;
    border-style: solid;
    border-color: #a6a6a6 transparent;
    border-width: 0 11px 11px;
    top: -11.5px;
    left: 20%;
    margin-left: -11px;
    display: block; }
  .alert-feedback:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: #ffffff transparent;
    border-width: 0 10px 10px;
    top: -10px;
    left: 20%;
    margin-left: -10px; }

.alert-feedback p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #2b2b2b; }

.alert-icon {
  font-size: 2.8rem;
  color: #f4a340;
  margin-right: .8rem; }

.toptags {
  grid-column: content-start / content-end;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  padding-left: 3rem;
  padding-top: 4rem;
  padding-right: 3rem;
  padding-bottom: 4rem;
  color: #2b2b2b;
  background-color: #f7bfa0; }
  @media only screen and (min-width: 48.1em) {
    .toptags {
      padding-left: 4rem;
      padding-right: 4rem; } }

.toptags-header {
  margin-bottom: 2rem; }

.toptags-content {
  margin-bottom: 4rem; }
  @media only screen and (min-width: 69em) {
    .toptags-content {
      width: 60%; } }

@media only screen and (min-width: 69em) {
  .toptags .tag-container {
    width: 60%; } }

.banner {
  display: none;
  position: relative;
  height: 25rem;
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding-left: 4rem;
  padding-top: 4.5rem;
  padding-right: 4rem;
  padding-bottom: 5rem;
  background-color: #f2f2f2; }
  @media only screen and (min-width: 48.1em) {
    .banner {
      grid-column: content-start / content-end;
      display: flex;
      flex-direction: column;
      align-items: center; } }
  .banner:hover {
    color: #2b2b2b; }

.banner--new {
  padding-left: 1rem;
  padding-top: 3.5rem;
  padding-right: 1rem;
  padding-bottom: 3rem;
  background-color: #bec8f6; }

.banner-title {
  padding-left: 2.5rem;
  padding-top: 1rem;
  padding-right: 2.5rem;
  padding-bottom: 1rem;
  font-size: 1.1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  letter-spacing: .15rem;
  text-transform: uppercase;
  border: 2px solid #2b2b2b; }

.banner-header {
  margin-top: 2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 3rem;
  line-height: 1.2;
  text-align: center; }

.banner-header--new {
  margin-top: .5rem;
  font-weight: 300;
  font-size: 6rem;
  line-height: 1.1;
  letter-spacing: .2rem;
  color: #1645f5; }

.banner-content--new {
  padding-top: 2rem;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  font-size: 1.8rem;
  color: #1645f5; }

.banner-address {
  margin-top: 2rem;
  font-size: 1.1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  letter-spacing: .05rem; }

.banner-icon-new {
  position: absolute;
  top: 1rem;
  right: .8rem;
  z-index: 1;
  font-size: 10rem;
  color: #1645f5;
  transform: rotate(15deg); }
  @media screen and (max-width: 925px) {
    .banner-icon-new {
      display: none; } }

.arrow-icon-new {
  font-size: 1.3rem; }

.u-text-center {
  text-align: center; }

.u-hidden {
  display: none; }

.u-is-visible {
  display: block; }

.u-mt-0 {
  margin-top: 0; }

.u-mt-1 {
  margin-top: 2.5rem; }

.u-mt-2 {
  margin-top: 5rem; }

.u-mt-3 {
  margin-top: 7.5rem; }

.u-mt-4 {
  margin-top: 10rem; }

.u-mb-0 {
  margin-bottom: 0rem; }

.u-mb-1 {
  margin-bottom: 2.5rem; }

.u-mb-2 {
  margin-bottom: 5rem; }

.u-mb-3 {
  margin-bottom: 7.5rem; }

.u-mb-4 {
  margin-bottom: 10rem; }

.u-text-grey  {
  color: red !important; }

.u-bg-black {
  background-color: #2b2b2b; }

.u-bg-white {
  background-color: #ffffff; }

.u-bg-t1 {
  background-color: #fbd64a !important; }

.u-text-white {
  color: #ffffff !important; }

.u-img-grayfilter {
  filter: grayscale(60%) brightness(95%); }
