// --------------------------------------------------
// #Colors settings
// --------------------------------------------------

$color-primary: #834bf6;
$color-primary-light: #e4defc;
$color-primary-white: #f9f5fe;

$color-secondary: #f7bfa0;
$color-secondary-light: #fdf2da;

$color-tertiary-1: #fbd64a;
$color-tertiary-2: #46b8f8;


$color-white: #ffffff;

$color-black: #2b2b2b;

$color-grey: #a6a6a6;
$color-grey-light: #d5d5d5;
$color-grey-dark:#676767;

