//////////////////////////////////
// #GLOBAL SETTINGS
//////////////////////////////////

// #Font Family
//////////////////////////////////
$font-title: "Roboto", sans-serif;
$font-body: 'Roboto Slab', serif;
$font-mono: 'Roboto Mono', monospace;


// #Font Sizes
//////////////////////////////////
// $font-size-1: ;
// $font-size-2: ;
// $font-size-3: ;
// $font-size-4: ;
// $font-size-5: ;
// $font-size-6: ;


// #Font Weights
//////////////////////////////////
$font-weight-1: 300; // Light
$font-weight-2: 400; // Regular
$font-weight-3: 500; // Semibold
$font-weight-4: 700; // Bold
