//////////////////////////////////
// #GLOBAL SETTINGS
//////////////////////////////////

// #Font Family
//////////////////////////////////
$font-title: "Roboto", sans-serif;
$font-body: 'Roboto Slab', serif;
$font-mono: 'Roboto Mono', monospace;


// #Font Sizes
//////////////////////////////////
$footer-fontsize-s: 1.3rem;
$footer-fontsize-m: 1.4rem;
$footer-fontsize-l: 1.6rem;


// #Font Weights
//////////////////////////////////
$font-weight-1: 300; // Light
$font-weight-2: 400; // Regular
$font-weight-3: 500; // Semibold
$font-weight-4: 700; // Bold

// #Font Weights
//////////////////////////////////
