//////////////////////////////////
// #GLOBAL SETTINGS
//////////////////////////////////

// #Font Family
//////////////////////////////////
$font-title: "Roboto", sans-serif;
$font-body: 'Roboto Slab', serif;
$font-mono: 'Roboto Mono', monospace;


// #Font Weight
//////////////////////////////////
