// --------------------------------------------------
// #Layout / with Css Grids
// --------------------------------------------------
body {
  overflow-x: hidden;
  // background-color: green;
}


// General GRID / 1 col + 1.5rem margins
// --------------------------------------------------
.grid {
  // position: relative;
  // overflow: hidden;
  margin: 0px auto; //centered grid
  display: grid;
  grid-template-columns:
  [full-start] 1.5rem [content-start] 1fr [content-end] 0rem [full-end];
  grid-template-rows:[navbar] 9rem [header] min-content [gap] 0rem [content] min-content
  [gap] 5rem [newsletter] 500px;
 }

 @include respond(desktop) {
  grid-template-rows:[navbar] 9rem [header] min-content [gap] 5rem [content] min-content
  [gap] 5rem [newsletter] min-content;
 }

 // <nav> element / inside GRID
 // --------------------------------------------------
nav {
  grid-column: content-start / content-end;
  grid-row: navbar / span 1;

  display: grid;
  grid-template-columns: 1fr;

  // 2 col grid / Tablet
  @include respond(tablet) {
    grid-template-columns: 1fr 1fr;
  }
  // 5 col grid / Desktop
  @include respond(desktop) {
    margin: 0 auto;
    grid-template-columns: repeat(5, 21.5rem);
  }
}

// Header Grid / inside GRID
// --------------------------------------------------
// .main-header {
//   grid-column: content-start / content-end;
//   grid-row: header / span 1;

//   display: flex;
// }



.main-header {
  grid-column: content-start / content-end;
  grid-row: header / span 1;

  display: grid;
  grid-template-columns: 1fr;

  // 2 col grid / Tablet
  @include respond(tablet) {
    grid-template-columns: 1fr 1fr;
  }
  // 5 col grid / Desktop
  @include respond(desktop) {
    margin: 0 auto;
    grid-template-columns: repeat(5, 21.5rem);
  }
}


// Content Grid / inside GRID
// --------------------------------------------------
main {
  grid-column: content-start / content-end;
  grid-row: content / span 1;

  display: grid;
  grid-template-columns: 1fr;

  // 2 col grid / Tablet
  @include respond(tablet) {
    grid-template-columns: 1fr 1fr;
  }
  // 5 col grid / Desktop
  @include respond(desktop) {
    margin: 0 auto;
    grid-template-columns: repeat(5, 21.5rem);
  }
}

.full-width {
  position: relative;
  grid-column: content-start / content-end;
  grid-row: newsletter / span 1;

  display: grid;
  grid-template-columns: 1fr;

  // 2 col grid / Tablet
  @include respond(tablet) {
    grid-template-columns: 1fr 1fr;
  }


  background-color: $color-secondary;
}

.full-width:before{
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100vw;
  right: -100vw;
  background:inherit;
}





// Full Grid Fix
// .<element> muss be position: relative;
// To get background-color in 100% width but <element> content in center layout
//
// .<element>:before{
//   content: "";
//   z-index: -1;
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: -100vw;
//   right: -100vw;
//   background:inherit;
// }


