// --------------------------------------------------
// #Layout / with Css Grids
// --------------------------------------------------
body {
  overflow-x: hidden;
}


// General GRID / 1 col + 1.5rem margins
// --------------------------------------------------
.grid {
  margin: 0px auto; //centered grid

  display: grid;

  grid-template-columns:
  [full-start] 1.5rem [content-start] 1fr [content-end] 1.5rem [full-end];

  // grid-template-rows:[navbar] 9rem [header] min-content [content] min-content [full-width] min-content;

  @include respond(tablet) {
    grid-template-columns:
    [full-start] 3rem [content-start] 1fr [col2] 1fr [content-end] 3rem [full-end];
  }

  @include respond(desktop) {
    grid-template-columns:
    [full-start] 1fr [content-start] 21.5rem [col2] 21.5rem [col3] 21.5rem [col4] 21.5rem [col5] 21.5rem [content-end]
    1fr [full-end];
  }

  @include respond(big-desktop) { 
    grid-template-columns:
    [full-start] 1fr [content-start] 28rem [col2] 28rem [col3] 28rem [col4] 28rem [col5] 28rem [content-end]
    1fr [full-end];
  }
}


// Navbar Grid
// --------------------------------------------------
.navbar-grid-item { grid-column: content-start / content-end; }

.categories-menu {
  display: grid;
  grid-template-columns: 5rem 1fr 5rem;
  
  @include respond(tablet) {
    grid-template-columns: 5rem 1fr 5rem;
  }
  @include respond(desktop) {
    grid-template-columns: 1fr 104rem 1fr;
  }
  @include respond(big-desktop) {
    grid-template-columns: 1fr 137rem 1fr;
  }
}

.burger-menu-grid {

  display: grid;
  grid-template-columns: 3rem 1fr 3rem;

  @include respond(tablet) {
    grid-template-columns:
    [full-start] 3rem [content-start] 1fr [col2] 1fr [content-end] 3rem [full-end];
  }
  @include respond(desktop) {
    grid-template-columns:
    [full-start] 1fr [content-start] 107.5rem [content-end] 1fr [full-end];
  }

  @include respond(big-desktop) {
    grid-template-columns:
    [full-start] 1fr [content-start] 140rem [content-end] 1fr [full-end];
  }

  // Absolute Positioning all page
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 900;
  top: 0rem;
  left: 0;
  overflow-x: hidden;
  padding-top: 11rem; // acthung here! burger icon toggle, sonnst 9rem;
  transition: 0.5s;
  background-color: $color-primary;

  // on-off
  // display: none;
}


// Article Grid
// --------------------------------------------------
.article-grid-item {
  grid-column: content-start / content-end;

  display: grid;
  grid-template-columns:
  [content-start] 1fr [content-end];

  @include respond(tablet) {
    grid-template-columns:
    [content-start] 1fr [col2] 1fr [content-end];
  }

  @include respond(desktop) {
    grid-template-columns:
    [content-start] 21.5rem [col2] 21.5rem [col3] 21.5rem [col4] 21.5rem [col5] 21.5rem [content-end];
  }

  @include respond(big-desktop) { 
    grid-template-columns:
    [full-start] 1fr [content-start] 28rem [col2] 28rem [col3] 28rem [col4] 28rem [col5] 28rem [content-end]
    1fr [full-end];
  }
}

// Full Width Container / Newsletter
// --------------------------------------------------
.full-width-container {
  position: relative;
  margin-top: 5rem;
  background-color: $color-secondary-light;

  grid-column: content-start / content-end;

  display: grid;
  grid-template-columns: 1fr;

  @include respond(tablet) {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  @include respond(desktop) { grid-template-columns: 1fr 1fr; }
}

.full-width-container:before{
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100vw;
  right: -100vw;
  background:inherit;

  @include respond(tablet) { display: none;}
}

// Fult Width Container / Banner
// --------------------------------------------------
.banner-full-width-container {
  display: none;
  background-color: $color-grey-light-2;

  grid-column: full-start / full-end;

  @include respond(tablet) {
    display: grid;
    grid-template-columns:
    [full-start] 2rem [content-start] 1fr [content-end] 2rem [full-end];
  }

  @include respond(desktop) {
    grid-template-columns:
    [full-start] 1fr [content-start] 98rem [content-end] 1fr [full-end];
  }
}

.banner-full-width-container:before,
.footer-grid:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100vw;
  right: -100vw;
  background:inherit;
}

// Footer / Fult Width
// --------------------------------------------------
.footer-grid {

  position: relative;
  padding-top: 8rem;
  padding-bottom: 8rem;
  border-top: 1px solid $color-grey;
  background-color: $color-black;

  grid-column: content-start / content-end;

  display: grid;
  grid-template-columns:
  [full-start] 3rem [content-start] 1fr [content-end] 3rem [full-end];

  @include respond(tablet) {
    grid-template-columns:
    [full-start] 5rem [content-start] 1fr [col2] 1fr [col3] 1fr [col4] 1fr [content-end] 5rem [full-end];

    margin-top: 6rem;
    border-top: none;
  }

  @include respond(desktop) {
    grid-template-columns:
    [full-start] 1fr [content-start] 21.5rem [col2] 21.5rem [col3] 21.5rem [col4] 21.5rem [col5] 21.5rem [content-end]
    1fr[full-end];
  }

  @include respond(big-desktop) {
    grid-template-columns:
    [full-start] 1fr [content-start] 28rem [col2] 28rem [col3] 28rem [col4] 28rem [col5] 28rem [content-end]
    1fr[full-end];
  }
}




// Full Grid Fix
// --------------------------------------------------
// .<element> muss be position: relative;
// To get background-color in 100% width but <element> content in center layout
//
// .<element>:before{
//   content: "";
//   z-index: -1;
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: -100vw;
//   right: -100vw;
//   background:inherit;
// }


