// --------------------------------------------------
// #Utilities
// --------------------------------------------------

.u-text-center {
  text-align: center;
}


// #Hidden & Shows
// --------------------------------------------------

.hidden {
  display: none;
}

.show {
  display: flex;
  flex-wrap: wrap;
  //display: block;
}
