// --------------------------------------------------
// #Newsletter Component
// --------------------------------------------------

.newsletter {
  display: relative;
  grid-column: span 1;
  width: 100%;
  padding-left: 1.5rem;
  padding-top: 5rem;
  padding-right: 1.5rem;
  padding-bottom: 5rem;
  color: $color-black;

  @include respond(tablet) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  @include respond(desktop) { padding-right: 8rem; }
}

.newsletter-header {
  margin-bottom: 3rem;
}

.newsletter-content {
  margin-bottom: 3.5rem;
}

.newsletter-img-container { overflow: hidden; }

.newsletter-img {
  display: none;
  grid-column: 2 / span 1;

  width: 100%;
  transform: scale(1.35);

  @include respond(desktop) { display: block }
}

.newsletter-img--fit {
  width: 100%;
  max-height: 60rem;
  object-fit: cover;
  transform: scale(1.26);
}

.newsletter-max-h {
  max-height: 55rem;
}


// Newsletter Form
// --------------------------------------------------
.newsletter-form  {
  position: relative;
  font-family: $font-title;
  margin-bottom: 2rem;
}

// Input
.newsletter-form input {
  display: block;
  height: 5rem;
  width: 100%;
  border: none;
}

.newsletter-form input:focus { outline: none; }

.newsletter-form input[type=placeholder] { color: $color-grey-dark; }

.newsletter-form input[type=text] {
  margin-bottom: 4rem;
  padding-left: 2rem;
  font-size: $newsletter-fontsize-2;
  font-weight: $font-weight-1;
  letter-spacing: .5px;
  color: $color-black;
  border-radius: .2rem;
}

// Checkbox
.checkbox-container {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}

.newsletter-form input[type="checkbox"] {
  -webkit-appearance: none;
  position: relative;
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 1.5rem;
  padding: 1rem;
  background-color: $color-white;
  border: none;
  border-radius: .2rem;
  cursor: pointer;
}

// Checkbox Checkmark
.newsletter-form input[type="checkbox"]:checked:after {
  content: '\2714';
  position: absolute;
  top: .15rem;
  left: .5rem;
  font-size: $newsletter-fontsize-2;
  color: $color-black;
  z-index: 1000;
}

// Checkbox Label
.newsletter-form label {
  font-size: $newsletter-fontsize-2;
  font-weight: $font-weight-2;
  letter-spacing: .5px;
  color: $color-black;
}

// Submit Button
.submit-btn {
  width: 25rem;
  margin-top: 3.5rem;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  font-size: $newsletter-fontsize-2;
  letter-spacing: .5px;
  text-align: left;
  color: $color-black;
  background-color: $color-tertiary-2;
  border:0 none;
  -webkit-border-radius: 5px;
  border-radius: .2rem;
  cursor:pointer;
}

.submit-btn:hover { background-color: darken($color-tertiary-2, 15%); }

.submit-btn:focus { outline: none; }

.submit-btn:visited {background-color: darken($color-tertiary-2, 15%);}

.submit-btn--02 {
  background-color: $color-tertiary-1;

  &:hover { background-color: darken($color-tertiary-1, 15%); }
}

// JS Submit Feedback
// --------------------------------------------------

.success-feedback {
  margin-top: 3rem;
  color: $color-tertiary-2;
}

.alert-feedback-container {
  position: absolute;
  top: 6rem;
  left: 2rem;
  max-height: 5rem;
  display: inline-flex;
  align-items: flex-end;
  z-index: 500;
  animation: alertFeedback 3s ease;
}


.alert-feedback {
  padding-left: 1rem;
  padding-top: .5rem;
  padding-right: 1.5rem;
  padding-bottom: .5rem;
  background: $color-white;
  border: 1px solid $color-grey;
  border-radius: .4em;
  box-shadow: 5px 5px 5px 0px rgba($color-black,.2);

    &:before {
      content: '';
      position: absolute;
      width: 0;
      z-index: 0;
      border-style: solid;
      border-color: $color-grey transparent;
      border-width: 0 11px 11px;
      top: -11.5px;
      left: 20%;
      margin-left: -11px;
      display: block;
    }

    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 0;
      z-index: 1;
      border-style: solid;
      border-color: $color-white transparent;
      border-width: 0 10px 10px;
      top: -10px;
      left: 20%;
      margin-left: -10px;
    }
}

.alert-feedback p {
  font-family: $font-title;
  font-size: $newsletter-fontsize-3;
  font-weight: $font-weight-2;
  color: $color-black;
}


.alert-icon {
  font-size: 2.8rem;
  color: $color-alert;
  margin-right: .8rem;
}

