// --------------------------------------------------
// #Newsletter Component
// --------------------------------------------------

.newsletter {
  grid-column: span 1;
  width: 100%;
  padding-left: 1.5rem;
  padding-top: 5rem;
  padding-right: 1.5rem;
  padding-bottom: 5rem;

  @include respond(tablet) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  @include respond(desktop) { padding-right: 8rem; }
}

.newsletter-header {
  margin-bottom: 3rem;
  color: $color-black;
}

.newsletter-content {
  margin-bottom: 3.5rem;
}

.newsletter-img-container {
  overflow: hidden;
}

.newsletter-img {
  display: none;
  grid-column: 2 / span 1;

  width: 100%;
  transform: scale(1.1);

  @include respond(desktop) { display: block }
}


// Newsletter Form
// --------------------------------------------------
.newsletter-form  {
  font-family: "Roboto";
  margin-bottom: 2rem;
}

// Input
.newsletter-form input {
  display: block;
  height: 5rem;
  width: 100%;
  border: none;
}

.newsletter-form input:focus { outline: none; }

.newsletter-form input[type=placeholder] { color: $color-grey-dark; }

.newsletter-form input[type=text] {
  margin-bottom: 4rem;
  padding-left: 2rem;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: .5px;
  color: $color-black;
  border-radius: .2rem;
}

// Checkbox
.checkbox-container {
  display: flex;
  align-items: center;
}

.newsletter-form input[type="checkbox"] {
  -webkit-appearance: none;
  position: relative;
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 1.5rem;
  padding: 1rem;
  background-color: $color-white;
  border: none;
  border-radius: .2rem;
  cursor: pointer;
}

// Checkbox Checkmark
.newsletter-form input[type="checkbox"]:checked:after {
  content: '\2714';
  position: absolute;
  top: .15rem;
  left: .5rem;
  font-size: 1.4rem;
  color: $color-black;
  z-index: 1000;
}

// Checkbox Label
.newsletter-form label {
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: .5px;
  color: $color-black;
}

// Submit Button
.newsletter-form button {
  width: 25rem;
  margin-top: 3.5rem;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  font-size: 1.4rem;
  letter-spacing: .5px;
  text-align: left;
  color: $color-black;
  background-color: $color-tertiary-2;
  border:0 none;
  -webkit-border-radius: 5px;
  border-radius: .2rem;
  cursor:pointer;
}

.newsletter-form button:hover { background-color: darken($color-tertiary-2, 15%); }

.newsletter-form button:focus { outline: none; }

.newsletter-form button:visited {background-color: darken($color-tertiary-2, 15%);}
