.banner {
  display: none;
  position: relative;
  height: 25rem;
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding-left: 4rem;
  padding-top: 4.5rem;
  padding-right: 4rem;
  padding-bottom: 5rem;
  background-color: $color-grey-light-1;

  @include respond(tablet) {
    grid-column: content-start / content-end;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &:hover {
    color: $color-black;
  }
}

.banner--new {
  padding-left: 1rem;
  padding-top: 3.5rem;
  padding-right: 1rem;
  padding-bottom: 3rem;
  background-color: $color-tertiary-3-light;
}

.banner-title {
  padding-left: 2.5rem;
  padding-top: 1rem;
  padding-right: 2.5rem;
  padding-bottom: 1rem;
  font-size: 1.1rem;
  font-family: $font-title;
  font-weight: $font-weight-4;
  letter-spacing: .15rem;
  text-transform: uppercase;
  border: 2px solid $color-black;
}

.banner-header {
  margin-top: 2rem;
  font-family: $font-title;
  font-weight: $font-weight-3;
  font-size: 3rem;
  line-height: 1.2;
  text-align: center;
}

.banner-header--new {
  margin-top: .5rem;
  font-weight: $font-weight-1;
  font-size: 6rem;
  line-height: 1.1;
  letter-spacing: .2rem;
  color: $color-tertiary-3;
}

.banner-content--new {
  padding-top: 2rem;
  font-family: $font-mono;
  font-weight: $font-weight-1;
  font-size: 1.8rem;
  color: $color-tertiary-3;
}

.banner-address {
  margin-top: 2rem;
  font-size: 1.1rem;
  font-family: $font-title;
  font-weight: $font-weight-4;
  letter-spacing: .05rem;
}

.banner-icon-new {
  position: absolute;
  top: 1rem;
  right: .8rem;
  z-index: 1;
  font-size: 10rem;
  color: $color-tertiary-3;
  transform: rotate(15deg);

  @media screen and (max-width: 925px) {
    display: none;
  }
}

.arrow-icon-new { font-size: 1.3rem; }
