.article {
  width: 100%;
  // margin-top: 1.5rem;
  // margin-left: 1.5rem;
  // margin-right: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 4.5rem;
  background-color: $color-white;
  // background-color: green;
}

.article img {
  width: 100%;
}

.article-header {
  margin-top: 2rem;
}

.article-subhead {
  margin-top: 2rem;
  color: $color-grey;
}
