// Articles (Cards)
// --------------------------------------------------
.article {
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: $color-white;
  // background-color: yellow;
  margin-bottom: 2rem;
}

.article img {
  width: 100%;
}

.article-header {
  margin-top: 2rem;
}

.article-subhead {
  margin-top: 2rem;
  color: $color-grey;
}

.article--selected {
  @include respond(tablet) { grid-column: span 2;}
}


// Grid Position / articles / HEADER
// --------------------------------------------------
.header-item1 {


  @include respond(tablet) {
    grid-column: 1 / span 2;

  }
  @include respond(desktop) {
    grid-column: 1 / span 3;


    position: sticky;
    top: 0px;
  }
}

.header-item2 {


  @include respond(tablet) {
    grid-column: 1 / span 1;


  }
  @include respond(desktop) {
    grid-column: 4 / span 1;

  }
}

.header-item3 {

  @include respond(tablet) {
    grid-column: 2 / span 1;

  }
  @include respond(desktop) {
    grid-column: 5 / span 1;

  }
}

.header-item4 {

  @include respond(tablet) {
    grid-column: 1 / span 1;

  }
  @include respond(desktop) {
    grid-column: 4 / span 1;

  }
}

.header-item5 {

  @include respond(tablet) {
    grid-column: 2 / span 1;

  }
  @include respond(desktop) {
    grid-column: 5 / span 1;

  }
}

.header-item6 {
  @include respond(tablet) {
    grid-column: 1 / span 2;

  }
  @include respond(desktop) {
    grid-column: 4 / span 2;
    margin-top: -3.5rem;

  }
}










